/* index.HTML Style Below*/
:root{
  --PRIMARY-COLOUR:#15944a3b;
  --PRIMARY-GRADIENT:
  background: rgb(131,58,180);
  background: linear-gradient(to bottom, #ffffff 50%, #fff3d9 100%);
  --SECONDARY-COLOUR:#333;
   --THIRD-COLOR: #0098F2;
 
  --BLUE-BOX-SHADOW:  2px 2px 4px 2px #017fc858;
  --GREEN-BOX-SHADOW: 2px 2px 4px 2px #12803f3c;
  
  
}
.main{
  width: 100%;
  height: 100%;
  position: relative;
}
body{
  background-color: var(--PRIMARY-GRADIENT);
  height: auto;
  max-width: 800px;
  margin: 60px auto;
  

}
h2{
  font-size: 48px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 96px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}
.description{
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.btn-links{
  margin-top: 60px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-transform: capitalize;

}

.btn-links a{
  margin: 20px;
  padding: 20px;
  
  border-radius: 5px;
  text-decoration: none;
  
}


.contact-link{
  margin: 20px;
  background-color: var(--THIRD-COLOR);
  color: white;
  box-shadow:var(--BLUE-BOX-SHADOW);
  border: 1px solid #ffffff53;
}

.about-link{
background-color:none;
box-shadow: 2px 2px 4px 2px #64646426;
color:var(--SECONDARY-COLOUR) ;

border: 2px solid var(--PRIMARY-COLOUR);
}
.signature{
  margin-top:700px;
}



/* About.HTML Style Below*/

.homepage-link{
  display: flex;
  justify-content: center;
  margin: 30px;
  text-decoration: none;
  color: var(--SECONDARY-COLOUR);
}

.scrool{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#contact-us{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 20px;

}

p{
  line-height: 1.5;
  text-align: center;
  padding: 20px;
  font-size: 18px;
 

}
h4{
  text-align: center;
}

.text-boxes {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.text-info{
display: flex;
flex-direction: column;
background-color: var(--PRIMARY-COLOUR);
border: 1px solid var( --BORDER-COLOUR);
box-shadow:#15944a3c; ;
border-radius: 5px;
padding: 20px;
margin: 40px 30px;
box-shadow:var(--GREEN-BOX-SHADOW);
}


.email-container{
  margin-bottom: 50px;
  display: block;
  color: #0098F2;
  text-align: center;
  text-decoration: none;
}
.email-link:hover{
  text-decoration: underline ;
}
