/* CSS variables */
:root{
  --PRIMARY-COLOUR:#000086;
  --PRIMARY-GRADIENT:
  background: rgb(131,58,180);
  background: linear-gradient(to bottom, rgba(131, 58, 180, 0.589) 0%, rgba(29, 66, 253, 0.333) 50%, rgba(252, 176, 69, 0.366) 100%);
   --SECONDARY-COLOR: #e20d05b0;
  --THIRD-COLOR:#9176d7cb;
  
}

h1 {
  color: var(--PRIMARY-COLOUR);
  text-align: center;
}
h3{
  color: var(--SECONDARY-COLOR);
  text-align: center;
}

html{
  background-color: var(--PRIMARY-GRADIENT);
  height: 100%;
}
p{
  background-color: #9176d7cb ;
  padding: 10px;
  width: 60%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: var(--BOX-SHADOW-COLOR);
}